<table>
<%= form_for @product do |f|%>
<tr>
<% if @product.errors.any?%>
<% @product.errors.messages.each do | msg |%>
<ul>
<li><%= msg%></li>
</ul>
<%end%>
<%end%>
</tr>
<tr>
<td><%= f.label :name, "Name*"%></td>
<td><%= f.text_field :name%></td>
</tr>
<tr>
<td><%= f.label :description, "description*"%></td>
<td><%= f.text_field :description%></td>
</tr>
<tr>
<td><%= f.label :price%></td>
<td><%= f.text_field :price%></td>
</tr>
<%= f.fields_for :images do |builder|%>
<tr>
<td><%= builder.label :photo%></td>
<td><%= builder.file_field :photo%></td>
</tr>
<%end%>
<tr>
<td><%= f.submit "save"%></td>
</tr>
<%end%>
</table>